<% include parts/head.ejs %>
<p>Hello world, you can go there :</p>
<a href="/entries"> <p> if you want to have a nice view of the data </p> </a>
<a href="/api/entries"> <p> or here if you want the raw information</p> </a>
<% include parts/foot.ejs %>