<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NodeJS - Boilerplate</title>
</head>
<body>
	<p>This is your boilerplate html. It will be added to each view. The view itself is embedded below.</p><hr>	
	<%- include(view)%>
</body>
</html>