<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Minimal-Skeleton</title>
  	<!-- Inject your css/javascript dependencies here -->
  	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body> 